h1 {
  color: red;
  text-align:center;
}
img.Arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-resolution: from-image;
  width: 1000px;
}
p{
  color: lightblue;
  line-height: 1.2em ;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body{
  background-color: green;

}
