h1 {
  color: blue;
  text-align:center;
}
img.Arrow {
  display: block;
  margin-left: auto;
  margin-right : auto;

}
p{
  line-height:1.2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body{
  background-color: green;
}
